page-statistics {

}

.bar {
  color: rgb(0,139,170);
}

.score {
  color: orangered;
}

.label {
  color: #008a9d;
  font-size:25px;
}

.label1 {
  color: #ff8000;
  font-size: 50px;
  text-align:center;
}

.background {
  background-color: white;
  padding: 20px;
  opacity: 0.7;
  border: 2px solid #008a9d;
  border-radius: 5px;
}
